button{
    display: flex;
    text-align: center;
    align-items: top;
}

.containerDetail{
    
    gap: 16px;
    
    justify-content: center;
    align-items: center;
    display: flex
}
.imageDetail{
    display: flex    ;
    justify-content: flex-start;
    width: 20%;
}
.descBut{
    display: flex;
    align-items: center;
    justify-content: center;
}